.counter{
    display: flex;
}
button{
    background-color: orange;
}
.but{
    font-size: 30px;
    height: 50px;
    width: 50px;
    margin: 20px;
}
#counter-count{
    font-size: 30px;
}
.reset{
    margin-left: 110px;
}